<!DOCTYPE html>
<html>
<head>
    <title>Comment Tools</title>
</head>
<body>
<h1>I NEED YOUR POST LINK FIRST</h1>
<form action="/api/getphonenumber" method="post">
    <input type="text" placeholder="your post link" name="link">
    <button>Submit</button>
</form>
</body>
</html>