.portfolio-item { 
	display: none;

}

.portfolio-caption {

  max-height: 150px;
  min-height: 150px;
}

.text-muted {
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  text-overflow: ellipsis;
}

#portfolio .portfolio-item .portfolio-caption p {
  margin-top: 5px;
}